
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}
html {
  scroll-behavior: smooth;
}
/* swiper css open */
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
  font-size: xx-large !important;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  font-size: xx-large !important;
}

/* swiper css close */

.bg-primary{
  background: linear-gradient(to right, #003b5d 0%, #003f5e 32%, #003f5e 32%, #006976 64%, #01948e 100%) !important;
}
.border-primary{
  border: 2px solid #003b5d;
}
.border-white{
  border: 2px solid #ffff;
}
.text-primary{
  color: #00596d;
}
.h-759px{
  height: 759px;
}
.zindex99{
  z-index: 9999;
}
.text-63666a{
  color: #63666a;
}
.top-130px.chakra-modal__content{
  top:130px !important;
}
.horlinecss{
  background-color: #00596d;
    width: 60%;
    height: 2px;
    /* padding-top: 10px; */
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
.w-180px{
  width: 180px;
}
.h-180px{
  height: 180px;
}
.h-530px{
  height: 530px !important;
}
.custhover{
  color: #858585;
}
.custhover:hover{
  justify-content: space-between;
  color: #ffff !important;
  background: linear-gradient(to right, #003b5d 0%, #003f5e 32%, #003f5e 32%, #006976 64%, #01948e 100%) !important;
}
.text-858585{
  color: #858585
}
.custdecoration:hover{
  text-decoration: underline;
  font-weight: 500;
}
.bg-abd7d1{
  background: linear-gradient(to right, #003b5d 0%, #003f5e 32%, #003f5e 32%, #006976 64%, #01948e 100%);
}
.hrborder{
  border: 1px solid;
}
.custiconhover:hover{
  background: linear-gradient(to right, #003b5d 0%, #003f5e 32%, #003f5e 32%, #006976 64%, #01948e 100%);
  color: #ffff;
  padding: 10px;
  border-radius: 100%;
}
.h-550px{
  height: 550px;
}
.custpadd0.chakra-modal__body{
  padding: 0px;
}
.imagerounded{
  border-radius: 0px 5px 5px 0px;
}
.text-666666{
  color: #666666;
}
.custinputborder{
  border: 1px solid #dbdbdb !important;
}
.custinputborder.chakra-input:hover{
  border-color: #00596d; 
  box-shadow: 0 0 0 1px #00596d;
}
.custinputborder.chakra-input:focus-visible{
  border-color: #00596d; 
  box-shadow: 0 0 0 1px #00596d;
}
.custselectborder{
  border-color: #00596d !important; 
}
.custselectborder.chakra-select:hover{
  border-color: #00596d; 
  box-shadow: 0 0 0 1px #00596d;
}
.custselectborder.chakra-select:focus-visible{
  border-color: #00596d; 
  box-shadow: 0 0 0 1px #00596d;
}
.centered-axis-xy{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.centered-axis{
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%,-50%);
}
.centered-axis-about{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.h-320px{
  height: 320px;
}
.custdraw.chakra-slide{
  top: 60px !important;
}
.Toastify__toast-container{
  z-index: 888888 !important;
}
.h-360px{
  height:  360px;
}
.w-360px{
  width: 360px;
}
.h-200px{
  height: 200px;
}
.h-700px{
  height: 700px;
}
.h-720px{
  height: 850px;
}
.p-megamenu-panel{
  left: -320px;
}
.p-megamenu .p-menuitem.p-highlight > .p-menuitem-content{
  background: none !important;
}
.p-megamenu .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover{
  background: none;
}
.image-box {
  position: relative;
  margin: auto;
  overflow: hidden;
  height: 280px;
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}
.h-650px{
  height: 650px;
}
.borbottom{
  border-bottom: 1px solid #00596d;
}
/* .image-box  {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
} */

.image-box:hover img {
  transform: scale(1.1);
}
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-7-31 15:10:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.kenburns-top {
	-webkit-animation: kenburns-top 5s ease-out both;
	        animation: kenburns-top 5s ease-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-8-1 9:56:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
 @-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

.kenburns-bottom-left {
	-webkit-animation: kenburns-bottom-left 5s ease-out both;
	        animation: kenburns-bottom-left 5s ease-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-8-1 9:18:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-bottom-left
 * ----------------------------------------
 */
 @-webkit-keyframes kenburns-bottom-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 84%;
            transform-origin: 16% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
            transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
  }
}
@keyframes kenburns-bottom-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 84%;
            transform-origin: 16% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
            transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
  }
}


@media (max-width:640px) {
  .sm-h-200px{
    height: 200px;
  }
  .sm-columndirection{
    display: flex;
    flex-direction: column-reverse;
  }
  .sm-h-160px{
    height: 160px;
  }
  .sm-h-200px {
    height: 200px;
  }
  .sm-w-200px{
    width: 200px;
  }
  .sm-h-160px{
    height: 160px;
  }
  .sm-h-260px{
    height: 260px;
  }
  .smflex{
    display: flex !important;
    justify-items: center;
    gap: 10px;
  }
  .mob-hidden{
    display: none;
  }
  .sm-h-250px{
    height: 157px !important;
  }
}
@media (min-width:641px) and (max-width:769px)
{
  .md-h-300px{
    height: 300px;
  }
}
@media (min-width:769px){
  .web-hidden{
    display: none !important;
  }
}
.faderight {
  animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}
.fadeleft {
  animation: fadeInLeft 1s ease-in-out;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-300px);
 }
 100% {
    opacity: 1;
    transform: translateX(0);
 }
}
.h-430px{
  height: 430px;
}

.w-190px{
  width: 190px;
}
.h-130px{
  height: 130px !important;
}
.h-270px{
  height: 270px;
}

.account_form input {
  border: 1px solid #ebebeb;
  height: 40px;
  max-width: 100%;
  padding: 0 20px;
  background: none;
  width: 100%;
  color: white !important;
}
